body.gray .popup {
   display: block;
   margin: 4rem;
   margin-left: 0rem;
   color: black;
   max-width: 500px;
   min-height: 200px;
   position: relative;
   transform: translate(-50%);
   left: 50%;
   padding: 2rem;
   border-radius: 0.4rem;
   overflow: hidden;
   background: rgba(255, 255, 255, 0.8);
}
body.gray .popup .popup-title {
   font-size: 1.3rem;
   display: block;
   margin: -2rem;
   color: rgb(54, 54, 54);
   box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.04);
   text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.19);

   padding: 0.7rem;
   padding-left: 1.2rem;
   margin-bottom: 1.5rem;
}
body.gray .popup .popup-title a {
   text-decoration: none;
   background: rgba(145, 145, 145, 0.1);
   margin: -0.7rem;
   color: black;
   margin-left: -1.2rem;
   margin-right: 1.2rem;
   padding: 0.7rem;
   padding-left: 1rem;
   padding-right: 1rem;

}
body.gray .popup .popup-title a .material-icons {
   padding: 0;
   margin: 0;
   top: 0.5rem;
   line-height: 0.1rem;
   position: relative;
   font-size: 2rem;
}
body.gray .popup .popup-title a:hover {
   background: rgba(0, 0, 0, 0.05);
}
body.gray .popup .popup-title a:hover .material-icons {
   color: rgb(31, 31, 31);
}
body.gray .popup .popup-subtitle {
   color: rgba(0, 0, 0, 0.5);
   margin-bottom: 0.3rem;
   display: block;
}
input:focus {
   outline: none;
}
body.gray .popup input {
   display: block;
   width: calc(100% - 1rem);
   margin: 0;
   margin-bottom: 0.8rem;
   padding: .5rem;
   border-radius: 0.3rem;
   right: 0;
   border: none;
   transition: all 100ms ease;
   box-shadow: 0px 0px 0.1rem 0px rgba(0, 0, 0, 0.3);
}
body.gray .popup input[type=button]:hover {
   background: rgb(228, 228, 228);

}
body.gray .popup input[type=button] {
   width: calc(100%);
   background: rgb(221, 221, 221);

}
body.gray .popup input.discord {
   background: rgb(37, 115, 180);
   color: white;
   padding: 0.7rem;
}
body.gray .popup input.discord:hover {
   background: rgb(39, 125, 196);
}

body.gray .popup.menu {
   max-width: 700px;
}
@keyframes fromMtoL {
   from {
      opacity: 0.7;
      transform: translate(-50%) scale(0.98);
   }
   to {
      transform: translate(-50%) scale(1);
      opacity: 1;
   }
}
body.gray .popup.panel {
   animation: 100ms fromMtoL 0ms ease;
   max-width: 1300px;
   min-height: 370px;
   z-index: 100;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.popup-list {
   margin: 0;
   padding: 0;
   list-style: none;
}
.popup-list li {
   padding: 1rem;
   margin: 0;
   margin-left: -0.5rem;
   position: relative;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   height: 5rem;
   transition: all 150ms ease;
   box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.popup-list li:hover {
   transform: scale(1.02);
   box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.14);
   background: rgb(228, 228, 228);
   border-radius: 0.2rem;
}
.popup-list li:last-child {
   margin-bottom: -0.5rem;

   border-bottom: 0px solid rgba(0, 0, 0, 0.2);
}
.popup-list li img {
   height: 100%;
   border-radius: 100%;
   margin-right: 1rem;
}
.popup-list li .list-title {
   top: 50%;
   transform: translate(0,-50%);
   position: absolute;
   font-weight: 300;
   font-size: 1.5rem;
   display: inline-block;
}
.popup-list li .list-title.tag {
   margin-top: -0.2rem;

}
.popup-list li .list-title .tag {
   background: rgb(28, 28, 28);
   border-radius: 0.2rem;
   padding: 0.2rem;
   font-size: 1rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   position: relative;
   color: white;
   margin-right: 0.4rem;
   margin-top: 0.12rem;
   margin-bottom: 0.5rem;

}
.popup-list li .list-button.right{
   position: absolute;
   top: 50%;
   transform: translate(0,-50%);
   right: 2rem;
   margin-left: 1rem;
   font-weight: 300;
   display: inline-block;
}
.popup-list li .list-button.right .material-icons {
   color: rgb(15, 15, 15);
   font-size: 2.5rem;
   position: relative;
   display: inline-block;
   text-align: center;
   margin-top: 0.1rem;
}
.popup-list li.settings {
   height: 2rem;
   padding: 0.5rem;
}
.popup-list li.settings img {
   margin-right: 0.8rem;
}
.popup-list li.settings .list-title {
   font-size: 1rem;
   padding-left: 0.5rem;
}
.popup-list li.settings .list-button.right .material-icons {
   font-size: 1.7rem;
}
.popup-split {
   margin: -1.5rem;
   margin-left: -2rem;
   margin-right: -2rem;
   margin-bottom: -2rem;
   height: 100%;

   position: relative;
   min-height: 70vh;
   display: grid;
   grid-template-columns: 20% auto;
   overflow: hidden;
}
.popup-split .leftpanel {
   grid-column: 1;
   box-shadow: -20px 0px 20px -20px rgba(0, 0, 0, 0.27) inset;
}
.popup-split .rightpanel {
   padding: 0rem;
}

button:focus {
   outline: none;
}
.popup-split .leftpanel button {
   display: block;
   width: 100%;
   border: none;
   text-align: left;
   padding: 0.8rem;
   padding-left: 1rem;
   border-bottom: 1px solid rgba(0, 0, 0, 0.08);
   background: rgba(0, 0, 0, 0.01);
   transition: all 250ms ease;
}

.popup-split .leftpanel button:hover {
   background: rgba(0, 0, 0, 0.06);
   padding-left: 1.5rem;
}
.panel-grid.styleone {
   display: grid;
   position: relative;
   grid-template-columns: 1fr 1fr 1fr;
}
.panel-grid.styleone .griditem {
   box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
border-radius: 4px;
background: rgb(230, 230, 230);
    padding: 20px;
   display: block;
   min-width: 230px;
   margin: 10px;
   position: relative;
text-align: center;
}
.panel-grid.styleone .griditem.hide {
   opacity: 0;
}
.panel-grid.styleone .griditem .icon {
   position: absolute;
   top: 0;
   color: rgba(5, 0, 43, 0.36);
   font-size: 1.2rem;
   padding: 0.7rem;
   display: block;
   right: 0;
}
.panel-grid.styleone .griditem .title {
   display: block;
   text-align: center;
   font-size: 3rem;
   margin: 1rem;
   font-weight: 300;
}
.panel-grid.styleone .griditem .subtitle {
   font-size: 0.9rem;
   font-weight: 300;

   display: inline-block;
   margin: 0.2rem;
   text-transform: uppercase;
}




.panel-grid.styleone .griditem.chart {
   grid-row: 2 / 4;
    grid-column: 2 / 4;
}
