/*

╔═╗╔═╗╔╦╗╔═╗  ╦ ╦╦═╗╦═╗╦╔╦╗╔═╗╔╗╔
║  ║ ║ ║║║╣   ║║║╠╦╝╠╦╝║ ║ ║╣ ║║║
╚═╝╚═╝═╩╝╚═╝  ╚╩╝╩╚═╩╚═╩ ╩ ╚═╝╝╚╝
          ╔╗ ╦ ╦  ╦  ╦ ╦╔═╗╔═╗╔═╗╔═╗╔╦╗
          ╠╩╗╚╦╝  ║  ║ ║║  ╚═╗║ ║╠╣  ║
          ╚═╝ ╩   ╩═╝╚═╝╚═╝╚═╝╚═╝╚   ╩

*/
body.gray {
   background: rgba(0, 0, 0, 0.91);

   font-family: 'Roboto';
   color: white;
   font-family: 'Roboto';
   font-weight: 300;
   padding: 0;
   margin: 0;
}
body.gray .legalnote {
   position: relative;
   bottom: 0.5rem;
   margin-top: -0.5rem;
   left: 0.8rem;
   z-index: 10;
   font-size: 0.7rem;
   color: rgba(255, 255, 255, 0.14);
}
body.gray .legalnote.fixed {
   position: fixed;
}
body.gray .legalnote .more {
   font-size: 0.5rem;
   line-height: 1rem;
   margin-right: 0.3rem;
   transition: all 125ms ease;
   display: inline-block;
   position: relative;
   color: rgba(255, 255, 255, 0.21);
}
body.gray .legalnote .more:hover {
      color: rgba(255, 255, 255, 0.3);
}
.note-disabled {
   border: solid rgba(255, 201, 9, 0.26) 1px;
   padding: 0.8rem;
   padding-left: 1.2rem;
   margin: 0.5rem;
   background: rgba(214, 206, 17, 0.74);
   border-radius: 0.2rem;
   position: relative;
   display: block;
   transition: all 80ms ease 0.5s;
   opacity: 1;
}
.note-disabled.hide {
   opacity: 0;
   margin-bottom: -3.4rem;
}
noscript {
   border: solid rgba(236, 67, 67, 0.26) 1px;

   padding: 0.8rem;
   padding-left: 1.2rem;
   margin: 0.5rem;
   background: rgba(181, 14, 14, 0.51);
   border-radius: 0.2rem;
   position: relative;
   display: block;
   transition: all 90ms ease;
}
noscript:hover {
   background: rgba(181, 14, 14, 0.53);
}

a {
   color: white;

}


nav {
   position: relative;
   left: 0;
   width: 100%;
   right: 0;
   padding: 0;
   margin: 0;
   display: inline-block;
}
nav ul {
   max-width: 1000px;
   position: relative;
   left: 50%;
   transform: translate(-50%);
   padding: 0;
   margin: 0;
   list-style: none;
   display: flex;
   justify-content:space-around;
}
nav ul li {
   color: rgba(255, 255, 255, 0.7);
   padding: 0.8rem;
   float: left;
   transition: all 125ms ease;
}
nav ul li:hover {
   color: rgba(255, 255, 255, 1);
}



.hidemeproxy {
    position: relative !important;
}
